# import the necessary libraries

In [39]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import joblib as jb
from sklearn.model_selection import train_test_split as tts
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

# load the dataset from your local device

In [3]:
df=pd.read_csv(r"E:\codsoft\spam.csv",encoding='latin1')
pd.set_option("display.max_columns",None)
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

# data cleaning

In [5]:
df=df.drop(["Unnamed: 2","Unnamed: 4","Unnamed: 3"],axis="columns")

# convert the alphabetical data to numeric data to perform the ml operation

In [15]:
le=LabelEncoder()
y=le.fit_transform(df["v1"])

In [16]:
tf=TfidfVectorizer(max_features=5000)
x=tf.fit_transform(df["v2"])

# split the dataset to fit and predict the model

In [19]:
x_train, x_test, y_train, y_test=tts(x,y,test_size=0.25)

# model implimentation

In [28]:
mod=[MultinomialNB(),LogisticRegression(),SVC()]
for i in mod:
    i.fit(x_train,y_train)
    print(i.score(x_train,y_train))

0.9784637473079684
0.9794209140942809
0.9978463747307968

### here we found the svm model tends to perform well as compared to the other two models

In [30]:
model=SVC()
model.fit(x_train,y_train)
model.score(x_train,y_train)

0.9978463747307968

# model prediction

In [33]:
y_pre=model.predict(x_test)

In [37]:
model.score(x_test,y_test)

0.9705671213208902

# save the model for future use

In [38]:
jb.dump(model,"SMS_SCAM")

['SMS_SCAM']